################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/ProjektInd/Library/metadata/
/ProjektInd/Library
/ProjektInd/Temp
