################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/ProjektInd/Library/metadata/00/00000000000000001000000000000000
